#tetris-board {
    display: flex;
    flex-direction: column;

    background: gray;

    width: min-content;
    border: 2px solid;
    border-collapse: collapse;
}

.tetris-row {
    display: flex;
    flex-direction: row;
}

.tetris-outer-cell {
    width: 40px;
    height: 40px;
}

.tetris-inner-cell {
    /* bg color set dynamically */

    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
}